body {
    font-family: "Lato", sans-serif;
    background: #FFE0AD;
}

h1 {
    margin-left: 200px;
}

h2 {
    margin-left: 200px;
}

h3 {
    font-weight: bold;
    margin-left: 200px;
}

h4 {
    font-weight: bold;
    margin-left: 200px;
}

p {
    margin-left: 200px;
}

.p-blue {
    color: blue;
}

.p-grey {
    color: grey;
}

.p-green {
    color: green;
}

.p-red {
    color: red;
}

.hp-img {
    margin-left: 200px;
    flex-wrap: wrap;
}

img.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    ;
}

li {
    font-weight: bold;
    margin-left: 200px;
}

dt {
    font-weight: bold;
}

.stoplichtgroen {
    color: limegreen;
}

.stoplichtoranje {
    color: orange;
}

.stoplichtrood {
    color: red;
}

.div-motivation {
  width: 1000px;
  border: 2px solid black;
  margin-left: 200px;
  background-color: #ffebcc;
}

.div-TED {
  width: 1000px;
  border: 2px solid black;
  margin-left: 200px;
  margin-top: 20px;
  background-color: #ffebcc;
}

.div-performance {
    width: 1000px;
    border: 2px solid black;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #ffebcc;
  }

  .div-anchors {
    width: 1000px;
    border: 2px solid black;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #ffebcc;
  }

  .div-trafficlight {
    width: 1000px;
    border: 2px solid black;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #ffebcc;
  }

  .div-conclusion {
    width: 1000px;
    border: 2px solid black;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #ffebcc;
  }

  .div-resources {
    width: 1000px;
    border: 2px solid black;
    padding-bottom: 20px;
    margin-left: 200px;
    margin-top: 20px;
    background-color: #ffebcc;
  }

.text-motivation {
    margin-left: 10px;
}

.post-container {
    margin: 20px 20px 0 200px;
}

.post-thumb img {
    float: left;
    clear: left;
}

.post-content {
    float: right;
}

.post-title {
    margin-left: 280px;
}

.linkdb {
    margin-left: 200px;
}

.linkmv {
    margin-left: 200px;
}


caption {
    font-weight: bold;
    font-size: 40px;
}

table {
    width: 60%;
    margin-left: 200px;
}

table,
th,
td {

    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 15px;
}

.table-blok {
    font-weight: bold;
    text-align: center;
    background-color: black;
    color: white;
}

.table-main-active {
    font-weight: bold;
    background-color: blue;
    color: white;
}

.table-sub-active {
    background-color: lightskyblue;
    color: white;
}

.table-main-inactive {
    font-weight: bold;
    background-color: grey;
    color: white;
}

.table-sub-inactive {
    background-color: #A6A6A6;
    color: white;
}

.table-main-passed {
    font-weight: bold;
    background-color: green;
    color: white;
}

.table-sub-passed {
    background-color: #00B800;
    color: white;
}

.table-main-failed {
    font-weight: bold;
    background-color: red;
    color: white;
}

.table-sub-failed {
    background-color: #FF5757;
    color: white;
}

.accordion {
    margin-left: 200px;
    background-color: #FFF0D7;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 80%;
    border: none;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #FFF6E8;
}

.panel {
    margin-left: 200px;
    width: 80%;
    display: none;
    background-color: white;
    overflow: hidden;
}

.accordion-answer {
    margin-left: 0px;
    text-align: center
}

.sidenav {
    border: 2px solid black;
    width: 170px;
    position: fixed;
    z-index: 1;
    top: 70px;
    left: 10px;
    background: #FFF0D7;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
}

.sidenav a:hover {
    color: #535353;
}

.main {
    margin-left: 140px;
    /* Same width as the sidebar + left position in px */
    font-size: 28px;
    /* Increased text to enable scrolling */
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}